* text=auto eol=lf

*.vhd text eol=lf
*.vhdl text eol=lf
*.py text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.kicad_sch text eol=lf
*.kicad_pcb text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.zip binary
